@function px-to-vw($px, $screen: 1920) {
  @return 100 * $px / $screen + vw;
}

$main-background:         #f1f6fa;
$main-text-color:         #222;

$accent-color-yellow:     #FAE451;
$accent-color-purple:     #C1BEFA;
$accent-color-blue:       #7EE7D6;
$accent-color-orange:     #FF844B;
$accent-color-green:      #98DD62;