@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import "_variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

input,
button,
textarea {
  border: none;
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  // display: block;
  width: 100%;
}

body {
  height: 100vh;
  background: $main-background;
  color: $main-text-color;
  letter-spacing: 0.05em;
  font-family: "Comfortaa", sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 17% 1fr;
  height: 100vh;
  overflow: hidden;
  > * {
    padding: px-to-vw(20);
  }
}

::-webkit-scrollbar {
  display: none;
}